<div class="px-2">
    <div class="h-full text-base md:text-sm">
        <div class="markdown-body min-h-dvh">
            {{ page.content|raw }}
        </div>
    </div>
</div>

<style>
.text-base {
    font-size: 1rem;
}

.md\:text-sm {
    font-size: 0.875rem;
}

.min-h-dvh {
    min-height: 100dvh;
}
</style>

