{% extends 'partials/base.html.twig' %}

{% block body %}
<div class="sidebar-layout dark:text-white h-dvh flex note-page" id="sidebar-layout">
    {# Sidebar: hidden on mobile for note pages, shown on desktop #}
    <div id="sidebar-container" class="sidebar-container">
        {% include 'partials/sidebar.html.twig' %}
    </div>
    
    <div class="flex-grow h-dvh content-area">
        <div class="h-full overflow-y-auto bg-background">
            {% include 'partials/note-header.html.twig' %}
            {% include 'partials/note-content.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}

